.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.heading {
  color: brown;
  font-size: 32px;
  font-weight: bold;
}

.label.name {
  color: blue;
}

.value.name {
  color: slateblue;
}

.label.school {
  color: red;
}

.value.school {
  color: hotpink;
}

.label.total {
  color: darkred;
}

.value.total {
  color: black;
}

.label.score {
  color: green;
}

.value.score {
  color: mediumseagreen;
  font-weight: bold;
}
